<!-- Alerta de borrado -->
<div class="row">
    <div class="col mt-5">
        <div *ngIf="creadoStatus || precargadoStatus" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ textoAlerta }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<!-- titulo y boton de precargar -->
<div class="row">
    <div class="col text-center text-secondary">
        <h2>Crear Tarea</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-outline-secondary" (click)="precargar()">Generar Aleatorios</button>
    </div>
</div>

<!-- formulario  -->
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="crearTarea()" class="mt-5">

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Titulo</strong></label>
        <div class="col">
            <input class="form-control" type="text" placeholder="Titulo" formControlName="titulo" [class.is-invalid]="tituloNoValido">
            <small *ngIf="tituloNoValido" class="text-danger">Ingrese al menos 5 letras</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Descripción</strong></label>
        <div class="col">
            <textarea class="form-control" placeholder="Escribe una descripcion de la tarea" rows="5" formControlName="descripcion" [class.is-invalid]="descripcionNoValido"></textarea>
            <small *ngIf="descripcionNoValido" class="text-danger">Ingrese al menos 5 letras</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Fecha de realización</strong></label>
        <div class="col">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="fecha" ngbDatepicker #d="ngbDatepicker" [class.is-invalid]="fechaNoValido">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
            <small *ngIf="fechaNoValido" class="text-danger">Ingrese una fecha</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Duración</strong></label>
        <div class="col">
            <select class="form-control" formControlName="selector" (change)="onSelect($event.target.value)" [class.is-invalid]="selectorNoValido">
                <option value="sel">Seleccionar duración</option>
                <option value="per">Personalizar Duración</option>
            </select>
            <small *ngIf="selectorNoValido" class="text-danger">Ingrese una duración</small>
        </div>
    </div>


    <div *ngIf="selecccionado" class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Duración</strong></label>
        <div class="col">
            <select class="form-control" formControlName="selectorDuracion" [class.is-invalid]="selNoValido" (change)="HabilitaB()">
                <option value="corta">Corta: 30 min o menos</option>
                <option value="media">Media: 30 min a 1 hr</option>
                <option value="larga">Larga: más de 1 hr</option>
            </select>
            <small *ngIf="selNoValido" class="text-danger">Selecciona una duración predeteminada</small>
        </div>
    </div>
    <div *ngIf="personalizado" class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label text-secondary"><strong>Duración</strong></label>
        <div class="col">
            <input class="form-control mb-2" type="number" placeholder="Minutos" formControlName="minutos" [class.is-invalid]="minutosNoValido" (change)="HabilitaB()">
            <input class="form-control" type="number" placeholder="Segundos" formControlName="segundos" [class.is-invalid]="segundosNoValido" (change)="HabilitaB()">
            <small *ngIf="minutosNoValido || segundosNoValido" class="text-danger">Ingrese un valor en minutos y segundos no mayor a 2 horas</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-md-3 col-lg-3 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button [disabled]="habilitaBoton" type="submit" class="btn btn-outline-secondary btn-block">
                Enviar
            </button>
        </div>
    </div>

</form>