<footer class="navbar mt-3 bg-dark text-white">
    <div class="container">
        <div class="row mx-auto my-auto justify-content-center align-self-center">
            <div class="col-6 text-center">
                <p>&copy; Chema Hernández Estrada<strong> 2020</strong></p>
            </div>
            <div class="col-6 text-center">
                <i class="fab fa-facebook fa-2x mx-1"></i>
                <i class="fab fa-instagram fa-2x mx-1"></i>
                <i class="fab fa-linkedin fa-2x mx-1"></i>
            </div>
        </div>
    </div>
</footer>